[Communication]

## 在 IL2CPP 下是否启动外部 gRPC 进程（Mono 下始终启用）
# Setting type: Boolean
# Default value: false
UseExternalGrpcProcess = false

## 语言：zh-CN / en
# Setting type: String
# Default value: zh-CN
Language = zh-CN

[UI]

## 是否接管游戏的EventSystem以解锁鼠标
# Setting type: Boolean
# Default value: false
UnlockMouse = true

## 是否启用ModFramework面板（需要UnlockMouse为true）
# Setting type: Boolean
# Default value: false
UsePanel = true

